 /* .container {
    width: 100%;
    background-color: whitesmoke;
    color: black;
     margin-left: 5px;
   } 
   */
  .actions2 {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -50px;
    padding-top: 25px;
  }
  .container4 {
    height: 100vh;
    /* min-width: 207%; */
    /* height: max-content; */
    margin-top: 112px;
    background-color: whitesmoke;
    color: black;
    
    /* margin-left: 5px; */
  }
  
  .actions button, .actions input {
    margin: 0 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* .search {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
  } */
  
  .delete {
    background-color: red;
    color: white;
  }
  
  .add-new {
    background-color: purple;
    color: white;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #F0F0FC;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  /* img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
  } */
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .pagination .active {
    background-color: purple;
    color: white;
  }
  